{% extends 'journal/navbar.html' %}
{% block content %}
<br>
<head>
    <title> Thoughts Notebook delete profile </title>
</head>
<div class="container bg-white shadow-md p-5 form-layout">
    <h3> Delete your account </h3>
    <p> Are you sure you want to delete your account? </p>
    <br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <br>
        <button class="btn btn-outline-danger btn-md w-100 btn-block p-2" type="submit"> Yes Delete account </button>
    </form>
    <a class="nav-link" href="{%  url 'profile_management' %}"> Or go to the profile management </a>
</div>
<br>
{% endblock %}