{% extends 'journal/navbar.html' %}

{% block content %}

<h3> My Thought </h3>

<br>

{% for thought in AllThoughts %}

<div class="container bg-white shadow-md p-5 form-layout">

    <h3> {{thought.title}} </h3>



    {{thought.content}}

    <br>

    {{thought.date_posted}}

    <br>
    <br>

    By: {{thought.user}}

    <br>
    <br>
    <a class="btn btn-outline-primary btn-md w-100 btn-block p-2" href="{% url  'update_thought' thought.id %}"> Update
    </a>

    <br>
    <br>

    <a class="btn btn-outline-danger btn-md w-100 btn-block p-2" href="{% url  'delete_thought' thought.id %}"> Delete
    </a>

</div>

<br>

{% endfor %}

<br>

{% endblock %}