{% extends 'journal/navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Update a Thought</h3>
    <p>Modify the details of your chosen thought below:</p>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ UpdateThought|crispy }}
        <button class="btn btn-outline-primary btn-md w-100 btn-block p-2" type="submit">Update thought</button>
    </form>
    <a href="{% url 'my_thoughts' %}">Return to thoughts</a>
</div>

{% endblock %}